div.row
  div.container.col-md-12
    div.characterInfoBlock
      div.col-sm-6
        label(for="charName") Character Name
        input#charName(value="{{ char.charName }}")
      div.col-sm-6
        label(for="playerName") Player Name
        input#playerName(value="{{ char.playerName }}")
      // row 1
      div.col-sm-3
        label(for="charClass") Class
        input#charClass(value="{{ char.class }}")
      div.col-sm-2
        label(for="charLevel") Level
        input#charLevel(value="{{ char.level }}")
      div.col-sm-2
        label(for="charRace") Race
        input#charRace(value="{{ char.race }}")
      div.col-sm-2
        label(for="charAlignment") Alignment
        input#charAlignment(value="{{ char.alignment }}")
      div.col-sm-3
        label(for="charDiety") Diety
        input#charDiety(value="{{ char.diety }}")
      // row2
      div.col-sm-1
         label(for="charSize") Size
         input#charSize(value="{{ char.size }}")
      div.col-sm-1
         label(for="charAge") Age
         input#charAge(value="{{ char.age }}")
      div.col-sm-1
         label(for="charGender") Gender
         input#charGender(value="{{ char.gender }}")
      div.col-sm-2
         label(for="charHeight") Height
         input#charHeight(value="{{ char.height }}")
      div.col-sm-1
         label(for="charWeight") Weight
         input#charWeight(value="{{ char.weight }}")
      div.col-sm-2
         label(for="charEyes") Eyes
         input#charEyes(value="{{ char.eyes }}")
      div.col-sm-2
         label(for="charHair") Hair
         input#charHair(value="{{ char.hair }}")
      div.col-sm-2
         label(for="charSkin") Skin
         input#charSkin(value="{{ char.skin }}")
