div.container
    div.row
        div.col-md-12
            p Your character sheets
            ul
                li(ng-repeat="s in sheets")
                    a(href="/sheet/{{ s.id }}"){{ s.name }}
